.container {
  margin-top: 30px;
}

pre {
  background-color:rgb(247, 243, 238);
}

code {
  background-color:rgb(247, 243, 238);
}

h1,
h2 {
  border-bottom: solid black 1px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
}

td,
th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

table {
  margin-bottom: 10px;
}

blockquote {
  border-left: 3px solid #2b21bb;
  color: #2b21bb;
  padding-left: 5px;
  margin-left: 25px;
}


